<!doctype html>
<html lang="cs">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="templates\css\navbar.css">
    <link rel="stylesheet" type="text/css" href="templates\css\body.css">
    <link rel="stylesheet" type="text/css" href="templates\css\login.css">
    <link rel="stylesheet" type="text/css" href="templates\css\image.css">

</head>

<body>
    

    
    {{ include('navigation.htm') }}
    
    
    <div class="container-fluid" style="padding-top:100px;">
    
    <div class="col-xs-4 col-xs-offset-4">
        
        <p class="text-center"  style="font-size:350%; color:white;">404</p>
        <p class="text-center"  style="font-size:200%; color:white;">PAGE NOT FOUND</p>
        <p class="text-center"  style="font-size:150%; color:white;">this is not the page you are looking for</p>

    </div>
    </div>
        
</body>

</html>