<!doctype html>
<html lang="cs">

<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="templates\css\navbar.css">
    <link rel="stylesheet" type="text/css" href="templates\css\login.css">

</head>

<body>

    <div id="container">
        {{ include('navigation.htm') }}
    </div>

    <div class="container">

        <form class="centered-form" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title text-center">Sign in</h3>
                </div>

                <div class="panel-body">
                    <label for="usr">Email adress:</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
                    <label for="pwd">Password:</label>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required>

                    <div class="row">
                        {{ obsah | raw }}
                    </div>

                    <div class="text-center">
                        <button class="btn btn btn-primary btn-block btn-my" type="submit">Sign in</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

</body>